body {
    max-width: 550px;
    min-width: 200px;
    margin: 0 auto;
    padding: 0px;
}

div.navbar-inner {
    border-radius: 0px;
    -moz-border-radius: 0px;
}

div.navbar {
    background-color: #009966;
    margin: 0px;
}

.navbar-brand{
    font-size: large;
}

.container-fluid { 
    padding: 0px;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a { 
    color: #ffffcc;
}

.navbar .nav > li > a { 
    color: #ffffff;
}

.navbar .nav > li:hover { 
    background:  #00a767;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover, .navbar .nav .active > a:focus { 
    background-color: #009996;
    color: #FFFFFF;
}


.navbar-inverse .btn-navbar,
.navbar-inverse .btn-navbar:hover,
.navbar-inverse .btn-navbar:focus{
  color: #ffffff;
  background-color: #009996;
  background-image: none;
  border-radius: 0px;
  -moz-border-radius: 0px;
}

.navbar-inverse .nav-collapse .nav > li > a {
    border-radius: 0px;
    -moz-border-radius: 0px;
    background-color: #009966;
}

.navbar-inverse .nav-collapse .nav > li > a {
    color: #ffffff;
}

.nav-pills.nav-stacked > li > a { 
    margin: 0px;
    border-radius: 0px;
    -moz-border-radius: 0px;
}

.btn-navbar {
    background-color: #00bf5c;
    color: #FFFFFF; 
} 

.navbar-inverse .nav-collapse .nav > li > a { 
    padding: 12px;
}

.navbar-inverse .nav-collapse .nav > li > a:hover { 
    background-color: #00a767;
}

.titlebar {
  background-color: #009796;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(00, 99, 96, 0.75);
  min-height: 36px;
  display: block;
  width: 100%;
  text-align: center;
}

.titlebar-text {
    font-size: 18px;
    padding-top: 7px;
    color: #ffffff;
}

.dropdown-menu {
    border-radius: 0px;
    -moz-border-radius: 0px;
    border: 0px;
    margin: 0px;
    min-width: 200px;
}


.dropdown-menu li > a {
   padding: 8px;
   color: #009796;
}

.dropdown-menu li > a:hover {
   background-color: #009966;
   background-image: none;
}

@media (min-width: 320px) 
{
    .dropdown-menu {
      min-width: 320px;
      padding: 0px;
      text-align: center;
      padding-bottom: 6px;
      padding-top: 4px;
    }
    
    .dropdown-menu > li{
        display: inline-block;
        padding: 0px;
        position: relative;
        margin: 0 auto;
    }

    .dropdown-menu li > a {
      padding: 0px;
      margin: 0px;
      display: inline-block;
      width: 100.6666666666667px;
      height: 100.6666666666667px;
      vertical-align: middle;
      margin-top: 1px;
      margin-bottom: 1px;
    }
    
    .dropdown-menu li > i:before {
      font-size: xx-large;
    }
    
    .nav-win8 li.divider  {
        display: none;
    }
    
    .nav-win8 [class^="ic-"], .nav-win8 [class*=" ic-"]{
        position: absolute;
        height: 98%;
        width: 98%;
        display: block;
        border: 1px solid #e7e7e7;
    }
    
    .nav-win8 [class^="ic-"]:before, .nav-win8  [class*=" ic-"]:before{
        position: absolute;
        font-size: xx-large;
        top: 20px;
        left: 6px;
    }
    
    .dropdown-text {
      display: inline-block;
      position: absolute;
      bottom: 5px;
      left: 5px;
      font-size: small;
    }
    
}

span.badge {
    background-color: #cccccc;
}

ul.widget {
    margin: 0px;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle { 
    background-color: #009966;
    color: #FFFFFF;
}

.widget li > a {
    background-color: #f4f4f4;
    border-bottom: 1px solid #cccccc;
}

.widget .widget-info {
    background-color: #cccccc;
    padding: 4px;
    border-bottom: 1px solid #f4f4f4;
}

.footer {
    background-color: #009966;
    color: #ffffff;
}

.footer a {
    color: #cccccc;
}